<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeTable Index</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body style="background: #fafafa">
    <div style="margin: 30px">
        <a href="form" class="btn btn-primary">Создать расписание</a>
    </div>
    <div style="margin: 30px">
        <form class="form-inline" action="timetable" method="get">
            <div class="row">
                <input type="number" class="form-control" name="id" placeholder="ID расписания" style="width: 135px; height: 40px; margin-left: 11px">
                <button type="submit" class="btn btn-primary mb-2" style="width: 200px; margin-left: 20px">Открыть расписание</button>
            </div>
        </form>
    </div>
</body>
</html>