<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TimeTable</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body style="background: #fafafa">
    <div style="margin: 30px">
        <a href="/" class="btn btn-primary">На главную</a>
    </div>
    <div th:each="room, roomsState : ${rooms}" style="margin: 15px 30px 30px 30px">
        <h3 th:utext="${room}">RoomID</h3>
        <table class="table table-bordered table-striped" style="text-align: center; width: 1200px">
            <tr>
                <td></td>
                <span th:each="time, timingsState : ${timings}">
                    <td th:utext="${time}" style="font-weight: bold">PairTime</td>
                </span>
            </tr>
            <tr th:each="day, daysState : ${days}" valign="middle">
                <td th:utext="${day}" style="font-weight: bold">DayName</td>
                <span th:each="time, timingsState : ${timings}">
                    <td th:utext="${pairs[roomsState.index][daysState.index][timingsState.index]}">PairTime</td>
                </span>
            </tr>
        </table>
    </div>
</body>
</html>


